@import "bootstrap/bootstrap";

body {
  background-color: whitesmoke;
}

.background {
  background-color: rgb(40, 61, 21);
  padding: 100px;
  margin-right: 10px;
}
.background_g {
  background-color: rgb(25, 90, 25);
  padding: 100px;
  margin-right: 10px;
}

.test__flex {
  display: flex;
  color: white;
}
